.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr .5fr;
	width: 80%;
	margin: 0 auto;
}
button{
	height: 150px;
	margin: 20%;
}
#buttonOne{
	background-color: red; 
}
#buttonTwo{
	background-color: blue;
}
.iAmRight{
	text-align: center;
	font-size: 40px;
}
#buttonOneText{
	color:red;
}
#buttonTwoText{
	color: blue;
}